/**/
:root {
  font-size: 62.5%;
  font-family: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

header#header {
  grid-area: header;
}

section#main__content {
  grid-area: maincontent;
}

section#sidebar {
  grid-area: sidebar;
}

article#article {
  grid-area: article;
}
article#article .title {
  grid-template-areas: title;
}
article#article .characteristics {
  grid-area: characteristics;
}
article#article .introduction {
  grid-area: introduction;
}
article#article .image-one {
  grid-area: imageone;
}
article#article .highlight {
  grid-area: highlight;
}
article#article .image-two {
  grid-area: imagetwo;
}
article#article .about-wolf__one {
  grid-area: aboutwolfone;
}
article#article .about-wolf__two {
  grid-area: aboutwolftwo;
}
article#article .quote {
  grid-area: quote;
}

section#others {
  grid-area: others;
}

footer#footer {
  grid-area: footer;
}

/**/
main#main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 6fr 0.5fr;
  grid-template-areas: "header header header" "maincontent maincontent maincontent" "footer footer footer";
  width: 100%;
  min-height: 100vh;
}

/**/
header#header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  min-height: 10vh;
  height: 10rem;
}
header#header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 95%;
  width: min(95%, 144rem);
  padding: 0;
  margin: 0 auto;
}
header#header h2 {
  width: clamp(20rem, 10vw, 25rem);
}
header#header nav {
  color: #fafbfc;
  height: 100%;
}
header#header nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header#header nav ul a {
  background: #0002;
  border-radius: 0.5rem;
  color: inherit;
  font-size: clamp(1.5rem, 1.2vw, 2rem);
  padding: 1.2rem 1rem;
}
header#header nav ul li + li {
  margin-left: 3rem;
}

@media (max-width: 670px) {
  header#header {
    height: 18rem;
  }
  header#header .header__content {
    flex-direction: column;
    padding: 3rem 0;
  }
  header#header .header__content h2 {
    width: clamp(15rem, 80vw, 20rem);
  }
  header#header .header__content nav ul a {
    font-size: clamp(1rem, 4.4vw, 1.6rem);
  }
}
/**/
section#main__content {
  background: #fafbfc;
  width: 95%;
  width: min(95%, 144rem);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 5fr;
  grid-template-areas: "sidebar article others";
  gap: 2rem;
  margin: 0 auto;
}

section#sidenav {
  background: blue;
  width: 100%;
  height: 100%;
}

/**/
article#article {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "title         characteristics" "colwide       colwide" "introduction introduction" "imageone      highlight" "imageone      imagetwo" "aboutwolfone  aboutwolftwo" "quote         quote" "a a";
  gap: 4rem;
  position: relative;
  padding: 1rem 2rem;
}
article#article img {
  border-radius: 1rem;
}
article#article .title {
  color: #b07dfb;
  font-size: 4.5rem;
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
}
article#article .title span {
  font-size: 1.2rem;
  font-size: clamp(.5rem, 1.2vw, 2rem);
  font-style: italic;
}
article#article .characteristics {
  display: flex;
  justify-content: flex-end;
}
article#article .characteristics .characteristics__block {
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 10px #0003;
  color: #b07dfb;
  text-align: center;
  width: 7rem;
  height: 8.7rem;
}
article#article .characteristics .characteristics__block h3 {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff7;
  font-size: 5rem;
}
article#article .characteristics .characteristics__block span {
  border: solid 1px #b07dfb55;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}
article#article .characteristics .characteristics__block + .characteristics__block {
  margin-left: 2rem;
}
article#article .introduction {
  color: #000a;
  font-size: clamp(1rem, 1.4vw, 3rem);
  padding: 5rem 0;
}
article#article .image-one {
  border-radius: 1rem;
  width: 100%;
  justify-self: flex-end;
}
article#article .highlight {
  color: #b07dfb;
  font-size: 1.5rem;
  font-size: clamp(.5rem, 1.4vw, 2rem);
  padding: 1rem 0;
}
article#article .about-wolf {
  color: #000a;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
article#article .quote {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 1rem;
  color: #fff;
  font-size: clamp(1rem, 1.4vw, 3rem);
  text-align: center;
  padding: 2rem 15rem;
}

/**/
section#others {
  background: blue;
  height: 100%;
  width: 100%;
}

/**/
footer#footer {
  color: #fff;
  background: #8844ee;
}

/*# sourceMappingURL=app.css.map */
