/**/
:root {
  font-size: 62.5%;
  font-family: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

li,
a,
p {
  list-style: none;
  text-decoration: none;
  letter-spacing: -0.005em;
}

header#header {
  grid-area: header;
}

section#main__content {
  grid-area: maincontent;
}

section#sidebar {
  grid-area: sidebar;
}

article#article {
  grid-area: article;
}
article#article .title {
  grid-template-areas: title;
}
article#article .characteristics {
  grid-area: characteristics;
}
article#article .introduction {
  grid-area: introduction;
}
article#article .image-one {
  grid-area: imageone;
}
article#article .highlight {
  grid-area: highlight;
}
article#article .image-two {
  grid-area: imagetwo;
}
article#article .quote {
  grid-area: quote;
}
article#article .attributes {
  grid-area: attributes;
}
article#article .image-three {
  grid-area: imagethree;
}

section#others {
  grid-area: others;
}

footer#footer {
  grid-area: footer;
}

/**/
main#main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 10fr auto;
  grid-template-areas: "header header header" "maincontent maincontent maincontent" "footer footer footer";
  width: 100%;
  min-height: 100vh;
}

/**/
header#header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  min-height: 10vh;
  height: 10rem;
}
header#header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 95%;
  width: min(95%, 144rem);
  padding: 0;
  margin: 0 auto;
}
header#header h2 {
  width: clamp(20rem, 10vw, 25rem);
}
header#header nav {
  color: #fafbfc;
  height: 100%;
}
header#header nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header#header nav ul a {
  background: #0002;
  border-radius: 0.5rem;
  color: inherit;
  font-size: clamp(1.5rem, 1.2vw, 2rem);
  padding: 1.2rem 1rem;
}
header#header nav ul li + li {
  margin-left: 3rem;
}

@media (max-width: 670px) {
  header#header {
    height: 18rem;
  }
  header#header .header__content {
    flex-direction: column;
    padding: 3rem 0;
  }
  header#header .header__content h2 {
    width: clamp(15rem, 80vw, 20rem);
  }
  header#header .header__content nav ul a {
    font-size: clamp(1rem, 4.4vw, 1.6rem);
  }
}
/**/
section#main__content {
  background: #fafbfc;
  width: 95%;
  width: min(95%, 144rem);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 5fr;
  grid-template-areas: "sidebar article others";
  gap: clamp(1.5rem, 2.96vw, 5rem);
  row-gap: 0;
  margin: 0 auto;
}

section#sidebar {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  position: relative;
}
section#sidebar ul {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 3rem;
}
section#sidebar ul li {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 25px #0002;
  margin: auto;
  overflow: hidden;
}
section#sidebar ul li a {
  display: flex;
  height: clamp(12rem, 15vw, 17rem);
  width: clamp(12rem, 15vw, 17rem);
}
section#sidebar ul li a img {
  width: 70%;
  margin: auto;
}
section#sidebar ul li a:hover {
  background: #b07dfb;
}

@media only screen and (max-width: 760px) {
  section#sidebar {
    top: 0;
    left: 0;
    right: 0;
    overflow-x: scroll;
  }
  section#sidebar ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    width: 100rem;
  }
}
/**/
article#article {
  background: #fff;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0 25px #0003;
  display: grid;
  grid-template-areas: "title         characteristics" "introduction introduction" "imageone      highlight" "imageone      imagetwo" "p1             p1" "quote         quote" "attributes    p2" "attributes    p2" "imagethree imagethree";
  gap: 4rem;
  position: relative;
  padding: 2rem clamp(1.5rem, 3vw, 5rem);
}
article#article img {
  border-radius: 1rem;
}
article#article .title {
  color: #b07dfb;
  font-size: 4.5rem;
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
article#article .title span {
  font-size: 1.2rem;
  font-size: clamp(16px, 1.4vw, 2rem);
  font-style: italic;
}
article#article .characteristics {
  display: flex;
  justify-content: flex-end;
}
article#article .characteristics .characteristics__block {
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 10px #0003;
  color: #b07dfb;
  text-align: center;
  width: 7rem;
  height: 8.7rem;
}
article#article .characteristics .characteristics__block h3 {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff7;
  font-size: 5rem;
}
article#article .characteristics .characteristics__block span {
  border: solid 1px #b07dfb55;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}
article#article .characteristics .characteristics__block + .characteristics__block {
  margin-left: 2rem;
}
article#article .about-wolf {
  color: #0009;
  font-size: clamp(20px, 1.7vw, 3rem);
}
article#article .image-one {
  border-radius: 1rem;
  width: 100%;
  margin: auto;
}
article#article .image-two {
  width: 100%;
  margin: auto;
}
article#article .highlight {
  color: #b07dfb;
  font-size: 2rem;
  font-size: clamp(20px, 1.1vw, 3rem);
}
article#article .quote {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 1rem;
  box-shadow: 0 0 25px #0004;
  color: #fafbfc;
  font-size: clamp(20px, 1.9vw, 3rem);
  text-align: center;
  padding: 3rem 15rem;
}
article#article .attributes {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 1rem;
  box-shadow: 0 0 25px #0004;
  color: #fafbfc;
  font-size: 2rem;
  font-family: Courier, monospace;
  padding: 2rem;
  margin: auto;
}
article#article .attributes li {
  padding: 1.5rem;
}
article#article .attributes li + li {
  border-top: solid 1px #fff8;
}
article#article .image-three {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  article#article {
    background: #fff;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 25px #0003;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "characteristics" "introduction " "imageone" "highlight" "imagetwo" "p1" "p1" "quote" "attributes" "p2" "p2" "imagethree";
  }
  article#article .characteristics {
    display: flex;
    justify-content: flex-start;
  }
  article#article .image-one {
    width: 80%;
  }
  article#article .highlight {
    text-align: center;
    padding: 2rem;
  }
  article#article .image-two {
    width: 80%;
  }
  article#article .quote {
    padding: 3rem 5rem;
  }
}
/**/
section#others {
  background: #0005;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  section#main__content {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar article " "others others";
  }
}
@media (max-width: 760px) {
  section#main__content {
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "article" "others";
  }
}
/**/
footer#footer {
  color: #fff;
  background: #8844ee;
}

/*# sourceMappingURL=app.css.map */
