article#article {

   background: #fff;

   display              : grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows   : repeat(8, auto);
   grid-template-areas  :
      'title         characteristics'
      'colwide       colwide'
      'introduction introduction'
      'imageone      highlight'
      'imageone      imagetwo'
      'aboutwolfone  aboutwolftwo'
      'quote         quote'
      'a a'
   ;
   gap: 4rem;

   position: relative;

   padding: 1rem 2rem;

   img {

      border-radius: 1rem;
   }

   .title {

      color    : $secondary-color;
      font-size: 4.5rem;
      font-size: clamp(3rem, 10vw, 5rem);

      font-weight: 900;

      display        : flex;
      flex-direction : column;
      justify-content: flex-start;
      align-items    : flex-start;

      padding-bottom: 2rem;

      span {

         font-size : 1.2rem;
         font-size : clamp(.5rem, 1.2vw, 2rem);
         font-style: italic;
      }
   }

   .characteristics {

      display        : flex;
      justify-content: flex-end;

      .characteristics__block {

         border-radius: 0 0 .5rem .5rem;
         box-shadow   : 0 0 10px #0003;
         color        : $secondary-color;
         text-align   : center;

         width : 7rem;
         height: 8.7rem;

         h3 {

            background   : linear-gradient(135deg, $main-color, $secondary-color);
            border-radius: .5rem .5rem 0 0;

            color    : #fff7;
            font-size: 5rem;
         }

         span {

            border       : solid 1px #b07dfb55;
            border-radius: 0 0 .5rem .5rem;

            font-size: 1.5rem;

            display: block;
            width  : 100%;
         }


      }

      .characteristics__block+.characteristics__block {

         margin-left: 2rem;
      }
   }

   .introduction {

      color    : #000a;
      font-size: clamp(1rem, 1.4vw, 3rem);

      padding: 5rem 0;
   }

   .image-one {

      border-radius: 1rem;
      width        : 100%;
      justify-self : flex-end;
   }

   .highlight {

      color    : $secondary-color;
      font-size: 1.5rem;
      font-size: clamp(.5rem, 1.4vw, 2rem);

      padding: 1rem 0;
   }

   .about-wolf {

      color    : #000a;
      font-size: clamp(1.5rem, 2vw, 2rem)
   }

   .quote {

      background   : linear-gradient(135deg, $main-color, $secondary-color);
      border-radius: 1rem;

      color     : #fff;
      font-size : clamp(1rem, 1.4vw, 3rem);
      text-align: center;

      padding: 2rem 15rem;
   }
}