section#main__content {

   background: $white;

   width: 95%;
   width: $width-limit;

   display              : grid;
   grid-template-columns: 1fr 4fr 1fr;
   grid-template-rows   : 5fr;
   grid-template-areas  :
      'sidebar article others'
   ;
   gap: 2rem;

   margin: 0 auto;
}

@import 'sidebar';
/**/
@import 'articles';
/**/
@import 'others';