section#others {

   position: relative;
   top     : 0;
   left    : 0;
   right   : 0;

   padding: 2rem 0;

   ul {

      background: transparent;

      display           : grid;
      grid-template-rows: 1fr 1fr;
      gap               : 2rem;

      z-index: 100;

      li {

         background   : #fff;
         border-radius: 1rem;
         box-shadow   : 0 0 20px #0003;

         margin: auto;

         a {

            background-image   : url(https://origamid.com/projetos/wildbeast/img/anuncio-2.jpg);
            background-size    : cover;
            background-position: right;
            border-radius      : 1rem;

            display: flex;
            height : clamp(15rem, 20vw, 20rem);
            width  : clamp(15rem, 20vw, 20rem);
         }
      }
   }
}

@media only screen and (max-width:1200px) {

   section#others {

      width     : 100%;
      margin    : 0 auto;
      overflow-x: scroll;

      ul {

         grid-template-rows   : auto;
         grid-template-columns: 1fr 1fr 1fr;
         gap                  : 2rem;

         li {
            a {



               height: clamp(15rem, 20vw, 20rem);
               width : clamp(15rem, 20vw, 20rem);
            }
         }
      }
   }
}