// variables - Colors
$main-color     : #8844ee;
$secondary-color:#b07dfb;
$white          :#fafbfc;

//  variables
$width-limit :min(95%, 144rem);

//
:root {

   font-size  : 62.5%;
   font-family: 'EB Garamond', serif;
}

* {

   box-sizing: border-box;

   padding: 0;
   margin : 0;
}

body {
   height: 100%;
}

li,
a {
   list-style     : none;
   text-decoration: none;
}

//
header#header {

   grid-area: header;
}

section#main__content {

   grid-area: maincontent;
}

section#sidebar {

   grid-area: sidebar;
}

article#article {

   grid-area: article;

   .title {
      grid-template-areas: title;
   }

   .characteristics {

      grid-area: characteristics;
   }

   .introduction {
      grid-area: introduction;
   }

   .image-one {
      grid-area: imageone;
   }

   .highlight {

      grid-area: highlight;
   }

   .image-two {
      grid-area: imagetwo;
   }

   .about-wolf__one {
      grid-area: aboutwolfone;
   }

   .about-wolf__two {
      grid-area: aboutwolftwo;
   }

   .quote {

      grid-area: quote;
   }
}

section#others {

   grid-area: others;
}

footer#footer {

   grid-area: footer;
}